<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Hearthstone Cards</title>
    <style>
        th, td {
            border: 1px solid;
            padding: 1em;
        }
    </style>
</head>

<body>
	<table>
		<tr>
			<th>Image</th>
			<th>Name</th>
			<th>Type</th>
			<th>Rarity</th>
			<th>Set</th>
			<th>Class</th>
		</tr>
		{% for card in cards %}
		<tr>
			<td><img src="{{ card.image }}" /></td>
			<td><a href="{{ card.url }}">{{ card.name }}</a></td>
			<td>{{ card.type }}</td>
			<td>{{ card.rarity }}</td>
			<td>{{ card.set }}</td>
			<td>{{ card.class }}</td>
		</tr>
		{% endfor %}
	</table>
</body>
</html>